@font-face {
    font-family: GROTESKLIGHT;
    src: url(FoundersGrotesk-Light.otf);
  }

.video { 
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: hidden;
}





.flex-container-top {
    display: flex;
    color: white;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
  }
 
  .flex-item2 {
    margin-top: 250PX;
    text-align: center;
    font-size: 3vw;
    font-family: "GROTESKLIGHT";
    width: 50vw;
  }

  .flex-item3 {
    margin-top: 50PX;
    text-align: center;
    font-size: 2vw;
    font-family: "GROTESKLIGHT";
    width: 50vw;
  }

