@font-face {
    font-family: GROTESKLIGHT;
    src: url(FoundersGrotesk-Light.otf);
  }

.video { 
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: hidden;
}








  @keyframes blink {
    0% {
      opacity: 0;
    }
   
    100% {
      opacity: 1;
    }
  }
  
 
  .flex-container-top {
    display: flex;
    color: white;
    height: 100vh;
    flex-direction: column; /* Change the flex-direction to column */
    align-items: center; /* Center the items horizontally */
  }
  
  .flex-item2 {
    margin-top: 250px;
    text-align: center;
    font-size: 5vw;
    font-family: "GROTESKLIGHT";
    width: 50vw;
  }
  
  .blinking-paragraph {
    animation: blink 2s infinite;
    margin-top: 50px;
    text-align: center;
    font-size: 2vw;
    font-family: "GROTESKLIGHT";
    width: 50vw;
  }
  

 